body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.course {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
}

label {
    display: inline-block;
    padding: 10px 35px;
}

input, select {
    margin-right: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}


#result {
    text-align: center;
    font-size: 1.5em;
}

button {
    margin: 10px 0px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.remove-row {
    background-color: red;
    cursor: pointer;
    padding: 3px 10px;
}

#add {
    background-color: #0e8941;
    display: block;
    width: 88%;
    text-align: center; 
    box-sizing: border-box;
    margin-left: 25px;
}

.row{
    gap:15px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

button:hover {
    background-color: #0056b3;
}

.remove-row:hover {
    background-color: rgb(135, 0, 0);
}

#add:hover {
    background-color: rgb(11, 90, 11);
}